<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/form.css">
  <title>
    <%= title %>
  </title>
</head>

<body>

  <div class="cont-contact">
    <div class="contact__title">
      Let's get in touch!
      <div class="contact__title-line"></div>
    </div>

    <!-- Form -->
    <form class="contact-us__form" method="POST">
      <div class="cont-input">
        <input type="hidden" name="id" value="<%= message._id %>" />

        <label for="fname">Name</label><br />
        <input class="form-input" type="text" id="fname" name="name" placeholder="Your name.." type="text"
          value="<%= message.name %>" />
      </div>

      <div class="cont-input">
        <label for="fname">Email</label><br />

        <input class="form-input" type="email" name="email" id="" placeholder="name@example.com..." type="text"
          value="<%= message.email%>" />
      </div>

      <div class="cont-input">
        <label for="subject">Message</label><br />
        <textarea class="form-textarea" id="subject" name="message" type="text" placeholder="Enter your message..."
          value="<%= message.message%>"></textarea>
      </div>

      <div class="form-bottom">
        <div class="read-more">
          <input type="submit" value="Send" class="form-submit" />
          <!-- Arrow // -->
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M0 16.67l2.829 2.83 9.175-9.339 9.167 9.339 2.829-2.83-11.996-12.17z" />
          </svg>
        </div>
      </div>
    </form>


  </div>
</body>

</html>