<%- include ../partials/header.ejs %>


    
    <div class="card">
    <div class="card-header"> <br>
    <h1>Shopping Cart</h1>
    </div>
    </div>

    


  <!-- Main Content -->
  
  <br>
  <div style="padding-right: 30px;">
  <div style="float: right;">
  <div class="col-lg-20">
    <div class="card"> 
    <div class="card-header">
  <h2>Summary</h2>
  <hr/>
  
  <h4>
  
  <lable>Total Cost: </lable>$<%= pri %> <h4> <hr/>
  <lable> GST/HST:   (13%)</lable> <br> <hr/>
  <lable>Sub Total: </lable>$<%= pritax %>

  </h4> <br>
  
  <a  href="/products/check" class="btn btn-primary"> Checkout</a> 
  
</div>
</div>
</div>
</div>

<div class="container" style="padding-top: 40px">
<div class="col-sm-3">
<% for(let i = 0; i <= CartList.length -1; i++) { %>
  <% var add = 0 %> 
  <% add = CartList[i].price + add %>
  <% add %>

<div class="col-sm-3">
  <div class="card" style="width: 18rem;">
  <img src="<%=CartList[i].image %>" class="img-thumbnail" style="height: 16rem; margin: 10px;" alt="<%= CartList[i].name %>"> 

  <div class="card-body">
    <h5 class="card-title"><%= CartList[i].name %></h5>
    <p class="card-text"><%= CartList[i].brand %></p>
    <p class="card-text">$<%= CartList[i].price %></p>
    <p class="card-text"><%= CartList[i].description %></p>
    <a
              href="/products/del/<%= CartList[i]._id %>"
              class="btn btn-danger"
            >
              <i class="fas fa-trash-alt"></i> Delete</a
            >
     </div>   

    </div>   
  
 </div>
 </div> 
 <br>
 <% } %>
 </div>

</div>

