<%- include ../partials/header.ejs %>

<!-- Main Content -->

<div class="container" style="padding-top: 30px">
<div class="row">
<% for(let i = 0; i <= ProductList.length - 1; i++) { %>
<div class="col-sm-3">
  <div class="card" style="width: 18rem;">
  <img src="<%= ProductList[i].image %>" class="img-thumbnail" style="height: 16rem; margin: 10px;" alt="<%= ProductList[i].name %>">
  <div class="card-body">
    <h5 class="card-title"><%= ProductList[i].name %></h5>
    <p class="card-text"><%= ProductList[i].brand %></p>
    <p class="card-text">$<%= ProductList[i].price %></p>
    <p class="card-text"><%= ProductList[i].category %></p>
    <p class="card-text"><%= ProductList[i].condition %></p>
    <p class="card-text"><%= ProductList[i].description %></p>
  <div class="card-body">
    <a href="/products/delete/<%= ProductList[i]._id %>" class="btn btn-danger"> <i class="fas fa-trash-alt"></i> Delete</a>
    <a href="/products/cart/" class="btn btn-primary" > <i class="fa fa-shopping-cart"></i> Add to cart</a>
  </div>
  </div>
</div>
</div>
 <% } %>
 </div>
</div>