<%- include ../partials/header.ejs %>

<div class="container">
  <br>
  <br>
  <br>
  <br>
  <br>

  <div>
    <h2>In this section you can find what our customers think about us!</h2>
  </div>

  <div>
    <% for(let i = 0; i <= feedbackList.length - 1; i++) { %>

          <div class="card-body">
            <h2>Client Comment:</h2>
            <h5 class="card-title">First Name: <%= feedbackList[i].firstName %></h5>
            <p class="card-text">Last Name: <%= feedbackList[i].lastName %></p>
            <p class="card-text">Email: <%= feedbackList[i].email %></p>
            <p class="card-text">Comment: <%= feedbackList[i].comment %></p>
          </div>
      <% } %>
  </div>

</div>
</div>


